<app-spinner-overlay *ngIf="showSpinner"></app-spinner-overlay>
<mat-drawer-container class="container">
  <mat-drawer #drawer
    [mode]="'side'"
    position="end"
    [(opened)]="sideNavOpened">
    <app-map-layers [baseLayers]="baseLayers"
      [projectLayers]="projectLayers"
      [map]="mapViewer"></app-map-layers>
  </mat-drawer>
  <mat-drawer-content>
    <div id="map"
      class="container map-viewer">
      <button mat-fab
        (click)="toggleMapLayers($event)"
        matTooltip="Warstwy mapy"
        matTooltipPosition="left"
        aria-label="Przysisk który pokazuje warstwy mapy"
        class="on-map layers-toggle">
        <mat-icon>{{sideNavOpened ? 'layers_clear': 'layers'}}</mat-icon>
      </button>
      <div class="on-map map-viewer__section map-viewer__section--bottom">
        <app-lat-lng [latlng]="latlng"></app-lat-lng>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<app-map-spinner *ngIf="isLoadingLayers()"></app-map-spinner>
