<!--
  <mat-toolbar>WMS Viewer
  </mat-toolbar>
-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Cartus WMS Viewer</span>
    <span class="spacer"> {{ currentProjectTitle }} </span>
    <span *ngIf="auth.isLoggedIn()">Witaj {{ auth.getUserName() }}!</span>
    <button
      mat-button
      (click)="purgeProject()"
      [disabled]="!auth.isLoggedIn()"
      [routerLink]="['/projects']"
    >
      <mat-icon>dashboard</mat-icon>
      <span>Projects</span>
    </button>
    <button *ngIf="auth.isLoggedIn()" mat-button (click)="auth.logout()">
      Logout
    </button>
  </mat-toolbar-row>
</mat-toolbar>
