<!--
  <mat-toolbar>WMS Viewer
  </mat-toolbar>
-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="hide-on-narrow">Cartus WMS Viewer</span>
    <span class="spacer"> {{ currentProjectTitle }} </span>
    <span class="hide-on-narrow"
      *ngIf="auth.isLoggedIn()">Witaj {{ auth.getUserName() }}!</span>
    <button mat-button
      (click)="purgeProject()"
      [routerLink]="['/projects']">
      <mat-icon>dashboard</mat-icon>
      <span>Projects</span>
    </button>

    <button mat-button
      *ngIf="!auth.isLoggedIn()"
      mat-button
      (click)="router.navigate(['login'])">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
    <button mat-button
      *ngIf="auth.isLoggedIn()"
      mat-button
      (click)="auth.logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
