/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import './vendors/dragula';

@include mat-core();

$top-margin-card: 50px;

$primary: mat-palette($mat-lime, 500);
$accent: mat-palette($mat-lime, 500, A200, A400);
$warn: mat-palette($mat-red, 500);

$config: mat-typography-config();

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-family: mat-font-family($config);
  font-weight: normal;
  margin: 0px;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  & .main-content {
    flex: 1;
  }
}

.form-card {
  margin: auto;
  margin-top: $top-margin-card;
}

.spinner {
  width: 100%;
  height: 100%;
  &--centered {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

.pointable {
  cursor: pointer;
}

.container {
  height: 100%;
  width: 100%;
}

.hide-on-narrow {
  @media screen and (max-width: 600px) {
    display: none;
  }
}
